/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
    padding: 0 20px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  
  #search-container {
    display: flex;
    margin-right: 20px;
  }
  
  #search-input {
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  #search-button {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  #cart-icon {
    position: relative;
  }
  
  #cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 10px;
    padding: 2px 4px;
    border-radius: 50%;
  }
  
  section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
  }
  
  .product {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .product img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  
  .product div {
    flex-grow: 1;
  }
  
  .price {
    font-weight: bold;
  }
  
  .add-to-cart {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-left: 20px;
  }
  
  .add-to-cart:hover {
    background-color: #444;
  }
  
  .category-section {
    display: none;
  }
  
  #back-to-products {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  #product-details {
    display: none;
  }
  
  #product-details-container {
    display: flex;
  }
  
  .cart {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 300px;
    background-color: white;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 5px 5px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
  }
  
  .cart.show {
    transform: translateY(0);
  }
  
  .cart-actions {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  
  .cart-actions button {
    margin-left: 10px;
  }
  
  @media (max-width: 768px) {
    header {
        flex-direction: column;
    }
  
    header h1 {
        padding: 10px
  
